h1 {
    color: #ff0000;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container h2 {
    text-align: center;
  }
  
  .container input[type="text"],
  .container input[type="password"],
  .container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 2px;
    border: 1px solid #ccc;
  }
  
  .container input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .container input[type="submit"]:hover {
    background-color: #45a049;
  }